@model Trangsuc.Models.Cart

@{
    ViewBag.Title = "thanhtoangiohang";
}
@{
    List<SelectListItem> ngayList = new List<SelectListItem>();
    List<SelectListItem> thangList = new List<SelectListItem>();
    List<SelectListItem> namList = new List<SelectListItem>();
    ngayList = (List<SelectListItem>)ViewBag.ngay;
    thangList = (List<SelectListItem>)ViewBag.thang;
    namList = (List<SelectListItem>)ViewBag.nam;
}
<div class="covercenter">
<div class="columncenter">
<div class="header-center">THANH TOÁN GIỎ HÀNG</div>
<div class="noidunggiua"><hr color="336699" size="2" /></div>
<table align="center" bgcolor="#FFFFFF"  style=" border-color:#000000 " border="1" cellspacing="2" cellpadding="4">
                <tr>
                      <td  style=" width:45px ; text-align:center"><span style="color: #0000FF"><b>Mã SP</b></span></td>
                      <td style=" width:140px ; text-align:center"><span style="color: #0000FF"><b>Tên SP</b></span></td>
                      <td  style=" width:70px ; text-align:center"><span style="color: #0000FF"><b>Số lượng</b></span></td>
                      <td  style=" width:95px ; text-align:center"><span style="color: #0000FF"><b>Đơn giá</b></span></td>
                      <td  style=" width:95px ; text-align:center"><span style="color: #0000FF"><b>Thành tiền</b></span></td> 
                      <td  style=" width:30px ; text-align:center"><span style="color: #0000FF"><b>Xóa</b></span></td>
                </tr>
                @foreach(var line in Model.Lines)
                {
                    string formatgia = line.giasanpham.ToString("c");
                    formatgia = formatgia.Substring(1, formatgia.LastIndexOf(".") - 1);
                    string thanhtien = (line.giasanpham * line.Quantity).ToString("c");
                    thanhtien = thanhtien.Substring(1, thanhtien.LastIndexOf(".") - 1);
                    <tr style="color:Black">
                      <td align="center" width="50">@line.masp</td>
                      <td align="center" width="140">@line.tensp</td>
                      <td align="center" width="80">
                       @using (Html.BeginForm("capnhatsoluong", "cart", new {masanpham=@line.masp }))
                       {                      
                       <input type="text" name="soluong" size="1" value="@line.Quantity" />                        
                       <input type="submit" style="cursor:pointer" title="Cập nhật thành tiền" alt="Cập nhật" class="updatesoluong" value="" />
                        
                       }                    
                       </td>
                      <td align="center" width="75">@formatgia VNĐ</td>             
                      <td align="center" width="80">@thanhtien VNĐ</td>
                      <td align="center" width="30"><a onclick="return xacnhanxoa('@line.masp')" href="/Cart/giohangxoa?masanpham=@line.masp"><img src="../Image/xoa-icon.png" title="Xoá sản phẩm"  alt="Xoá"></a></td>
                </tr>
                }   
                 @{ string tongtien = Model.tongtien().ToString("c");
                           tongtien = tongtien.Substring(1, tongtien.LastIndexOf(".") - 1);
                    } 
                <tr>
                	  <td colspan="4" align="center"><b style="color:#FF0000">TỔNG TIỀN HÀNG</b></td>
                      <td align="center" width="100"><b style="color:#FF0000">@tongtien VNĐ </b></td>
                      <td align="center" width="30"><a href="/cart/xoahet/">
                          <input type="image" border="0" align="absmiddle" src="../Image/xoahet.png" title="Xoá hết sản phẩm trong giỏ" onclick="return xacnhanxoahet()">
                          </a></td>
                </tr>
              </table>
              <p></p>            
                <div class="noidunggiua"><hr color="336699" size="2" /></div>
                <div style="color:Black">
               </div>
            <div style="width:580px;float:left ;text-align: left; margin-left:15px; margin-bottom:15px; color:Black">
                <b>THÔNG TIN THANH TOÁN</b></div>
                      <div style="width:500px">
            <form id="formsave" name="formsave" method="post" onsubmit="return checktt()"  action="/cart/thanhtoangiohang" >
            <div class="editor-field">
            <div style="width:110px; float:left ;text-align: left; margin-left:15px; color:Black">Họ tên: </div>
            <label>@ViewBag.username</label>
            <span id="hoten" style="color:Red;"></span>
            </div>
             <div class="editor-field">
            <div style="width:110px;float:left ;text-align: left; margin-left:15px; color:Black">Số điện thoại: </div>
            <input type="text" name="sdt" size="30" value="@ViewBag.sdt" onchange="return checksdt();" />
            <span id="dt" style="color:Red"></span>
            </div>
             <div class="editor-field">
            <div style="width:110px;float:left ;text-align: left; margin-left:15px; color:Black">Địa chỉ email: </div>
            <label>@ViewBag.email</label>
           <span id="mail" style="color:Red"></span>
            </div>
              <div class="editor-field">
            <div style="width:110px;float:left ;text-align: left; margin-left:15px; color:Black">Địa chỉ giao hàng: </div>
            <input type="text" name="diachi" size="30" value="@ViewBag.diachi" />
            <span id="dc" style="color:Red"></span>
            </div>
                 <div class="editor-field">
                <div style="width:110px;float:left ;text-align: left; margin-left:15px; color:Black">Bạn hãy chọn thời gian giao hàng:</div>
                <table>                 
                    <tr>
                        <td>
                            @Html.DropDownList("ngay", ngayList)
                            @Html.DropDownList("thang", thangList)
                            @Html.DropDownList("nam", namList)
                        </td>
                        <td><span id="ngaygiaohang" style="color:red"></span></td>
                    </tr>
                 </table>
                </div>
            <div style="margin-left:90px; margin-top:10px"><input type="submit" name="xacnhan" value="Xác nhận mua hàng" tabindex="2" /></div>
           </form>

           </div>
            <div class="noidunggiua"><hr color="336699" size="2" /></div>
</div>
</div>
