
@{
    ViewBag.Title = "Tin tức";
}
<div class="covercenter">
<div class="columncenter">
     <div class="header-center">TIN TỨC</div>   
     	<div class="noidungphu">
        	 
        	<table border="0">
              <tr>
              	<td rowspan="2"><img src="@Url.Content("~/Image/tintuc/giavang.jpg")" height="150" width="150" /></td>
                <td valign="top"> Bất ngờ tăng vọt lên 1.750 USD/ounce, giá vàng thế giới hỗ trợ giá vàng trong nước tăng hơn 700.000 đồng/lượng...</td>
              </tr>
              <tr>
              	<td valign="bottom"><div align="right"><a href="#">&gt;&gt;Xem tiếp</a></div></td>
              </tr>
              <tr>
              	<td colspan="2"><hr color="336699" /></td>
              </tr>
             <tr>
              	<td rowspan="2"><img src="@Url.Content("~/Image/tintuc/nuhoangquangcao.jpg")" height="150" width="150" /></td>
                <td valign="top"> Hwang Jeong Eum vừa khoe sắc quyến rũ trên tạp chí In Style cùng bộ trang sức lộng lẫy, đắt giá...</td>
              </tr>
              <tr>
              	<td valign="bottom"><div align="right"><a href="#">&gt;&gt;Xem tiếp</a></div></td>
              </tr>
              <tr>
              	<td colspan="2"><hr color="336699" /></td>
              </tr>
              <tr>
              	<td rowspan="2"><img src="@Url.Content("~/Image/tintuc/kimcuong.jpg")" height="150" width="150" /></td>
                <td valign="top"> Một trong những tuyệt tác của nhãn hiệu thời trang cao cấp Louis Vuitton (LV) là một sưu tập trang sức mới nhất được ra mắt khiến cho các tín đồ thời trang cũng phải trầm trồ ngưỡng mộ khi ngắm nhìn... </td>
              </tr>
              <tr>
              	<td valign="bottom"><div align="right"><a href="">&gt;&gt;Xem tiếp</a></div></td>
              </tr>
              <tr>
              	<td colspan="2"><hr color="336699" /></td>
              </tr>
              <tr>
              	<td colspan="2"><i>Các tin tức khác:</i></td>
              </tr>
              <tr>
              	<td colspan="2"><a href=""><img width="15" height="8" src="@Url.Content("~/Image/icon.png")"/> Nữ trang Fiona Paxton đang được ưa chuộng</a></td>
              </tr>
              <tr>
              	<td colspan="2"><a href=""><img width="15" height="8" src="@Url.Content("~/Image/icon.png")"/>Trang sức Harry Winston đắt nhất thế giới!</a></td>
              </tr>
              <tr>
              	<td colspan="2"><a href=""><img width="15" height="8" src="@Url.Content("~/Image/icon.png")"/>Joolz - lắng đọng trang sức ngọc trai</a></td>
              </tr>
       	    </table>
        </div>
    </div>
    </div>

